.color-chip-container {
  position: relative;
  width: 110px;
  height: 110px;
  background-color: #fff;
  margin: 15px;
  border-radius: 30px;
  background: #e6e6e6;
  box-shadow: inset 11px 11px 21px #bdbdbd, inset -11px -11px 21px #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color-chip-container:hover {
  width: 330px;
}
.color-chip-container:hover .color-chip-name {
  top: 60%;
  left: 15px;
}
.color-chip-name {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  transition: all 0.5s ease;
}
