.color-chip-container {
  width: 110px;
  height: 110px;
  background-color: #fff;
  margin: 15px;
  border-radius: 30px;
  background: #e6e6e6;
  box-shadow: inset 9px 9px 18px #b2b2b2, inset -9px -9px 18px #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}
.color-chip-container:hover {
  width: 330px;
}
